<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Habits track</title>
    <style>
        body {
          display: flex;
          justify-content: space-between;
          margin-left: 200px;
        }
        .column {
          padding: 20px;
          margin: 20px;
          border: 1px solid #000;

          height: 150px;
        }

        .checklist {
          margin-left: 10px;
        }

        .btn {
          display: flex;
          justify-content: center;
        }
    </style>

</head>
<body>
    <div class="column">
        <h2>Habits Checklist</h2>
         {% for habit in habits %}
          <p class="checklist">{{ habit.title }}</p>
        {% endfor %}
    </div>
    <div class="column">
        <form method="POST" action="">
            {% csrf_token %}
                <h2>Check daily habit</h2>
                <ul>
                    {% for habit in habits %}
                        {% if not habit.is_checked_today %}
                            <li>
                                <input type="checkbox" id="habit_{{ habit.id }}" name="habit_{{ habit.id }}">
                                <label for="habit_{{ habit.id }}">{{ habit.title }}</label>
                            </li>
                        {% else %}
                            <li>{{ habit.title }} - Already checked today</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            <div class="btn">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="column">
        <h2>
            Strike completed daily
        </h2>
        {% for habit in habits %}
          <p>{{ habit.title }} <b>{{ habit.strike_count }}</b></p>
        {% endfor %}
    </div>
</body>
</html>
